.wrapper {
	display: grid;
	min-height: 75vh;
}

.bg {
	width: 100%;
	height: 100%;
	background: lightsalmon;
	filter: opacity(10%);
	grid-area: 1 / 1 / 1 / 1;
}

.overlay {
	grid-area: 1 / 1 / 1 / 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.row_title {
	justify-content: center;
}

.row_search {
	width: 50%;
	background: white;
	padding-left: 2rem;
	padding-bottom: 1rem;
	padding-top: 2.5rem;
	padding-right: 2rem;
	border-radius: 0.5rem;
}

.search_box {
	cursor: default;
}

.search_box:hover {
	cursor: pointer;
}

.fit_content {
	width: fit-content;
}
